<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.freshworks.com/" target="_blank">Freshworks</a> building Freshcaller Android App with some awesome people.I hold a Bachelors in Computer Science from
      <a class="underline-link" href="https://www.annauniv.edu/" target="_blank">Anna University.</a>
    </p>

    <p>
      Fascination towards computer software!
      I enjoy working with the Android platform.
      Love for coding and in revealing solutions to the real time challenges.
      Striving to adapt to the latest technologies.

    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably at the beach, playing football,
      or crossing off another item on my bucket list.
    </p>

<!--     {% include employment-status.html %}-->
  </div>
</section>
